<app-nav></app-nav>

<nz-row [nzGutter]="16">
  <nz-col [nzSpan]="14">
    <div nz-row [nzGutter]="[16, 24]">
      <div nz-col [nzSpan]="24">
        <nz-card nzTitle="近24小时服务健康状态">
          <nz-list nzSize="small">
            <nz-list-item>
          <span>
            <nz-tag nzColor="success">
                <i nz-icon nzType="check-circle"></i>
                <span>正常</span>
              </nz-tag>
              核心服务
          </span>
              <b>( 0 / 0 )</b>
            </nz-list-item>
            <nz-list-item>
          <span>
            <nz-tag nzColor="success">
                <i nz-icon nzType="check-circle"></i>
                <span>正常</span>
              </nz-tag>
              消息队列
          </span>
              <b>( 0 / 0 )</b>
            </nz-list-item>
            <nz-list-item>
          <span>
            <nz-tag nzColor="success">
                <i nz-icon nzType="check-circle"></i>
                <span>正常</span>
              </nz-tag>
              即时通讯
          </span>
              <b>( 0 / 0 )</b>
            </nz-list-item>
            <nz-list-item>
          <span>
            <nz-tag nzColor="success">
                <i nz-icon nzType="check-circle"></i>
                <span>正常</span>
              </nz-tag>
              云代理
          </span>
              <b>( 0 / 0 )</b>
            </nz-list-item>
            <nz-list-item>
          <span>
            <nz-tag nzColor="success">
                <i nz-icon nzType="check-circle"></i>
                <span>正常</span>
              </nz-tag>
              分布定时器
          </span>
              <b>( 0 / 0 )</b>
            </nz-list-item>
            <nz-list-item>
          <span>
            <nz-tag nzColor="success">
                <i nz-icon nzType="check-circle"></i>
                <span>正常</span>
              </nz-tag>
              分布消息中间件
          </span>
              <b>( 0 / 0 )</b>
            </nz-list-item>
            <nz-list-item>
          <span>
            <nz-tag nzColor="success">
                <i nz-icon nzType="check-circle"></i>
                <span>正常</span>
              </nz-tag>
              分布队列触发器
          </span>
              <b>( 0 / 0 )</b>
            </nz-list-item>
          </nz-list>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-card nzTitle="近24小时核心服务监控">
          <nz-empty></nz-empty>
        </nz-card>
      </div>
    </div>
  </nz-col>
  <nz-col [nzSpan]="10">
    <div nz-row [nzGutter]="[16, 24]">
      <div nz-col [nzSpan]="24">
        <nz-card nzTitle="异常告警">
          <nz-list nzSize="small">
            <nz-empty></nz-empty>
          </nz-list>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-card nzTitle="构建信息">
          <nz-empty></nz-empty>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-card nzTitle="消息中心">
          <nz-list nzSize="small">
            <nz-empty></nz-empty>
          </nz-list>
        </nz-card>
      </div>
    </div>
  </nz-col>
</nz-row>
