<app-center-nav></app-center-nav>

<ng-template #search>
  <nz-space>
    <nz-input-group *nzSpaceItem nzSearch nzSuffixIcon="search" style="width: 240px">
      <input nz-input placeholder="搜索电子邮件" />
    </nz-input-group>
  </nz-space>
</ng-template>
<app-search-toolbox #toolbox></app-search-toolbox>

<nz-card [nzTitle]="search" [nzExtra]="toolbox.ref">
  <nz-table #basicTable [nzData]="lists">
    <thead>
    <tr>
      <th nzWidth="420px">电子邮件</th>
      <th>状态</th>
      <th nzWidth="80px" nzRight>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        {{ data.email }}
      </td>
      <td></td>
      <td>
        <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="actions">
          <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #actions>
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <i nz-icon nzType="edit"></i>
              编辑
            </li>
            <li nz-menu-item nzDanger>
              <i nz-icon nzType="delete"></i>
              删除
            </li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
