<ul *appSider nz-menu nzMode="inline">
  <li nz-menu-group nzTitle="仪表盘">
    <ul>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open()">
          <i nz-icon nzType="dashboard"></i>
          监控
        </a>
      </li>
      <!--      <li nz-menu-item nzMatchRouter nzMatchRouterExact nzDisabled>-->
      <!--        <a [routerLink]="open(['info'])">-->
      <!--          <i nz-icon nzType="info-circle"></i>-->
      <!--          告警-->
      <!--        </a>-->
      <!--      </li>-->
    </ul>
  </li>
  <li nz-menu-group nzTitle="所有项目">
    <ul>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open(['projects'])">
          <i nz-icon nzType="coffee"></i>
          我的项目
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open(['archives'])">
          <i nz-icon nzType="inbox"></i>
          归档
        </a>
      </li>
    </ul>
  </li>

  <!--  <li nz-menu-group nzTitle="服务集成">-->
  <!--    <ul>-->
  <!--      <li nz-menu-item nzMatchRouter nzMatchRouterExact nzDisabled>-->
  <!--        <a [routerLink]="open(['services'])">-->
  <!--          <i nz-icon nzType="deployment-unit"></i>-->
  <!--          第三方服务-->
  <!--        </a>-->
  <!--      </li>-->
  <!--      <li nz-menu-item nzMatchRouter nzMatchRouterExact nzDisabled>-->
  <!--        <a [routerLink]="open(['module'])">-->
  <!--          <i nz-icon nzType="appstore-add"></i>-->
  <!--          组件模块-->
  <!--        </a>-->
  <!--      </li>-->
  <!--      <li nz-menu-item nzMatchRouter nzMatchRouterExact nzDisabled>-->
  <!--        <a [routerLink]="open(['repository'])">-->
  <!--          <i nz-icon nzType="hdd"></i>-->
  <!--          代码仓库-->
  <!--        </a>-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--  </li>-->

</ul>
