<app-nav></app-nav>

<nz-tabset *appFooter [nzSelectedIndex]="0">
  <nz-tab nzTitle="操作日志"></nz-tab>
  <nz-tab nzTitle="登录日志"></nz-tab>
</nz-tabset>

<ng-template #search>
  <input nzBorderless nz-input placeholder="搜索操作人" />
</ng-template>

<nz-card [nzTitle]="search">
  <nz-table #basicTable [nzData]="lists">
    <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th nzWidth="300px">操作人</th>
      <th nzRight>描述</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td
      ></td>
      <td>
        {{ data.name }}
      </td>
      <td></td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
