<app-layout-sider>
  <ul nz-menu nzMode="inline">
    <li nz-submenu nzTitle="Favorites" nzIcon="star">
      <ul>
        <li nz-menu-item>Solution A</li>
        <li nz-menu-item>Solution B</li>
        <li nz-menu-item>Solution C</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Popular" nzIcon="fire">
      <ul>
        <li nz-menu-item>Solution C</li>
        <li nz-menu-item>Solution A</li>
        <li nz-menu-item>Solution B</li>
      </ul>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item>
      <i nz-icon nzType="inbox"></i>
      <span>Archive</span>
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="tags"></i>
      <span>Tags</span>
    </li>
  </ul>
</app-layout-sider>
