<app-sider>
  <ul nz-menu nzMode="inline">
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/workbench']">
        <i nz-icon nzType="dashboard"></i>
        仪表盘
      </a>
    </li>
    <li nz-menu-item nzMatchRouter nzDisabled>
      <a [routerLink]="['services']">
        <i nz-icon nzType="api"></i>
        服务集成
      </a>
    </li>
    <li nz-menu-item nzMatchRouter nzDisabled>
      <a [routerLink]="['repository']">
        <i nz-icon nzType="code"></i>
        代码仓库
      </a>
    </li>
    <li nz-menu-item nzMatchRouter nzDisabled>
      <a [routerLink]="['plan']">
        <i nz-icon nzType="calendar"></i>
        维护计划
      </a>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-group nzTitle="团队管理">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['team']">
            <i nz-icon nzType="audit"></i>
            团队信息
          </a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['users']">
            <i nz-icon nzType="team"></i>
            团队成员
          </a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['role']">
            <i nz-icon nzType="partition"></i>
            权限组
          </a>
        </li>
      </ul>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-group nzTitle="安全审计">
      <ul>
        <li nz-menu-item nzMatchRouter nzDisabled>
          <a [routerLink]="['security']">
            <i nz-icon nzType="safety-certificate"></i>
            访问控制
          </a>
        </li>
        <li nz-menu-item nzMatchRouter nzDisabled>
          <a [routerLink]="['operation']">
            <i nz-icon nzType="history"></i>
            操作日志
          </a>
        </li>
        <li nz-menu-item nzMatchRouter nzDisabled>
          <a [routerLink]="['logs']">
            <i nz-icon nzType="key"></i>
            登录日志
          </a>
        </li>
      </ul>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-group nzTitle="系统设置">
      <ul>
        <li nz-menu-item nzMatchRouter nzDisabled>
          <a [routerLink]="['notifications']">
            <i nz-icon nzType="notification"></i>
            消息通知
          </a>
        </li>
        <li nz-menu-item nzMatchRouter nzDisabled>
          <a [routerLink]="['module']">
            <i nz-icon nzType="appstore-add"></i>
            组件模块
          </a>
        </li>
      </ul>
    </li>
  </ul>
</app-sider>
