<app-nav></app-nav>

<nz-space *appExtra>
  <button *nzSpaceItem nz-button nzType="primary">
    <i nz-icon nzType="plus"></i>
    创建项目
  </button>
  <button *nzSpaceItem nz-button>
    <i nz-icon nzType="ellipsis"></i>
  </button>
</nz-space>

<ng-template #search>
  <nz-space>
    <nz-input-group
      *nzSpaceItem
      nzSearch
      nzSuffixIcon="search"
      style="width: 240px"
    >
      <input nz-input placeholder="搜索项目" />
    </nz-input-group>
    <nz-button-group *nzSpaceItem nz-button>
      <button nz-button>
        创建时间
        <i nz-icon nzType="down"></i>
      </button>
      <button nz-button nz-dropdown nzPlacement="bottomRight">
        <i nz-icon nzType="sort-ascending"></i>
      </button>
    </nz-button-group>
  </nz-space>
</ng-template>

<ng-template #extra>
  <nz-button-group>
    <button nz-button>
      <i nz-icon nzType="sync"></i>
    </button>
    <button nz-button>
      <i nz-icon nzType="clear"></i>
    </button>
    <button nz-button nzDanger [disabled]="true">
      <i nz-icon nzType="delete"></i>
    </button>
  </nz-button-group>
</ng-template>

<nz-card [nzTitle]="search" [nzExtra]="extra">
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
    <tr>
      <th>项目名称</th>
      <th nzWidth="420px" nzRight>描述</th>
      <th nzWidth="240px" nzRight>参与人</th>
      <th nzWidth="120px" nzRight>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <nz-avatar [nzShape]="'square'" nzIcon="bulb"></nz-avatar>
        <nz-divider nzType="vertical"></nz-divider>
        {{ data.name }}
      </td>
      <td>
      </td>
      <td>
        <nz-avatar [nzSrc]="'/assets/user.jpg'"></nz-avatar>
      </td>
      <td>
        <button nz-button nzType="text">
          <i nz-icon nzType="star"></i>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="text">
          <i nz-icon nzType="ellipsis"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
