<app-nav></app-nav>

<button *appExtra nz-button nzType="primary" nzShape="circle">
  <i nz-icon nzType="plus"></i>
</button>

<nz-tabset *appFooter [nzSelectedIndex]="0">
  <nz-tab nzTitle="进行中"></nz-tab>
  <nz-tab nzTitle="已归档"></nz-tab>
</nz-tabset>

<ng-template #search>
  <input nzBorderless nz-input placeholder="搜索项目名称" />
</ng-template>

<app-search-toolbox #toolbox></app-search-toolbox>

<nz-card [nzTitle]="search" [nzExtra]="toolbox.ref">
  <nz-table #basicTable [nzData]="lists">
    <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th nzWidth="300px">项目名称</th>
      <th nzRight>描述</th>
      <th nzWidth="300px" nzRight>参与人</th>
      <th nzWidth="120px" nzRight>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td></td>
      <td>{{ data.name }}</td>
      <td></td>
      <td>
        <nz-avatar-group>
          <nz-avatar nzText="张三"></nz-avatar>
          <nz-avatar nzText="李四"></nz-avatar>
        </nz-avatar-group>
      </td>
      <td>
        <button nz-button nzType="text">
          <i nz-icon nzType="edit"></i>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="actions">
          <i nz-icon nzType="ellipsis"></i>
          <nz-dropdown-menu #actions>
            <ul nz-menu>
              <li nz-menu-item nzDanger>
                <i nz-icon nzType="delete-row"></i>
                删除
              </li>
            </ul>
          </nz-dropdown-menu>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
