<app-layout-sider>
  <ul nz-menu nzMode="inline">
    <li nz-menu-item>
      <i nz-icon nzType="api"></i>
      <span>Third-party Integration</span>
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="desktop"></i>
      <span>Host Management</span>
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="database"></i>
      <span>Repository Service</span>
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="experiment"></i>
      <span>Functional Market</span>
    </li>
  </ul>
</app-layout-sider>
