<app-nav></app-nav>

<nz-card nzTitle="账户信息">
  <nz-descriptions [nzColumn]="1" nzBordered>
    <nz-descriptions-item nzTitle="电子邮件">
      zhangtqx@vip.qq.com
      <a nz-button nzType="link"><i nz-icon nzType="edit"></i></a>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="称呼">
      <nz-avatar nzText="张三"></nz-avatar>
      <a nz-button nzType="link"><i nz-icon nzType="edit"></i></a>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="密码">
      ****
      <a nz-button nzType="link"><i nz-icon nzType="edit"></i></a>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="加入时间">
      2021-07-05 12:51:48
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>
