<ul *appSider nz-menu nzMode="inline">
  <li nz-menu-item nzMatchRouter nzMatchRouterExact>
    <a [routerLink]="open(['status'])">
      <i nz-icon nzType="fund-view"></i>
      服务状态
    </a>
  </li>
  <li nz-menu-item nzMatchRouter nzMatchRouterExact>
    <a [routerLink]="open(['authorization'])">
      <i nz-icon nzType="file-protect"></i>
      应用授权
    </a>
  </li>
  <li nz-menu-item nzMatchRouter nzMatchRouterExact>
    <a [routerLink]="open(['schedule'])">
      <i nz-icon nzType="schedule"></i>
      任务调度
    </a>
  </li>
  <li nz-menu-divider></li>
  <li nz-menu-group nzTitle="集群">
    <ul>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open(['server'])">
          <i nz-icon nzType="cloud-server"></i>
          服务器节点
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open(['container'])">
          <i nz-icon nzType="container"></i>
          容器编排
        </a>
      </li>
    </ul>
  </li>
  <li nz-menu-divider></li>
  <li nz-menu-group nzTitle="消息队列">
    <ul>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open(['message-queue'])">
          <i nz-icon nzType="mail"></i>
          队列管理
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open(['message-topic'])">
          <i nz-icon nzType="send"></i>
          主题管理
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open(['message-trigger'])">
          <i nz-icon nzType="thunderbolt"></i>
          自动网络回调
        </a>
      </li>
    </ul>
  </li>
  <li nz-menu-divider></li>
  <li nz-menu-group nzTitle="即时通讯">
    <ul>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open(['im-token'])">
          <i nz-icon nzType="safety"></i>
          认证令牌
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open(['im-topic'])">
          <i nz-icon nzType="message"></i>
          通讯主题
        </a>
      </li>
    </ul>
  </li>
</ul>
