.header {
  padding: 0 16px;
  height: 64px;
  line-height: 64px;
  background: #fff;
  border-bottom: 1px solid #dadce0;
  box-shadow: 1px 1px transparent;

  .logo {
    float: left;
    vertical-align: middle;
    width: 225px;

    a {
      color: rgba(0, 0, 0, .85);
      font-size: 19.5px;
      letter-spacing: 1px;
      white-space: nowrap;
      text-decoration: none;
    }

    img {
      float: left;
      height: 64px;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}


.container {
  height: calc(100% - 65px);
}

.sidenav {
  display: flex;
  width: 240px;
  height: 100%;
}

.sidenav-content {
  padding: 12px 16px;
}
