<nz-layout class="main-layout">
  <nz-header>
    <div class="logo">
      <a href="#"> <img src="/assets/weplanx.png" alt="weplanx" /> WePlanx </a>
    </div>
    <ul class="nav" nz-menu nzMode="horizontal" [nzSelectable]="false">
      <li nz-menu-item>
        <a [routerLink]="['/dashboards']">
          <i nz-icon nzType="project"></i>
          <b>工作区</b>
        </a>
      </li>
      <li nz-menu-item>
        <a href="https://github.com/weplanx" target="_blank">
          <i nz-icon nzType="github"></i>
          <b>Github</b>
        </a>
      </li>
    </ul>
    <nz-space class="extra">
      <button
        *nzSpaceItem
        nz-button
        nzType="text"
        nz-popover
        nzPopoverTitle="消息通知"
        [nzPopoverContent]="notification"
        nzPopoverPlacement="bottomRight"
      >
        <ng-template #notification>
          <nz-empty></nz-empty>
        </ng-template>
        <i nz-icon nzType="notification"></i>
      </button>
      <div
        *nzSpaceItem
        class="center"
        nz-dropdown
        nzPlacement="bottomRight"
        [nzDropdownMenu]="center"
      >
        <div style="margin-right: 24px">
          <nz-avatar [nzSrc]="'/assets/user.jpg'" [nzShape]="'square'"></nz-avatar>
        </div>
        <nz-dropdown-menu #center>
          <ul nz-menu>
            <li nz-menu-item>
              <a [routerLink]="['/center']">
                <i nz-icon nzType="user"></i>
                kain
              </a>
            </li>
            <li nz-menu-divider></li>
            <li nz-submenu nzTitle="切换语言" nzIcon="translation" nzDisabled>
              <ul>
                <li nz-menu-item>中文</li>
                <li nz-menu-item>English</li>
              </ul>
            </li>
            <li nz-menu-item>
              <i nz-icon nzType="logout"></i>
              退出
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-space>
    <div class="clearfix"></div>
  </nz-header>
  <nz-layout>
    <nz-sider class="sider" nzTheme="light" nzWidth="240px">
      <ng-container *ngTemplateOutlet="content.sider | async"></ng-container>
    </nz-sider>
    <nz-layout>
      <nz-page-header [nzTitle]="title" [nzGhost]="false">
        <nz-breadcrumb
          *ngIf="(content.breadcrumb | async).length !== 0"
          nz-page-header-breadcrumb
          nzSeparator=">"
        >
          <nz-breadcrumb-item>
            <a [routerLink]="['/']">
              <i nz-icon nzType="home"></i>
            </a>
          </nz-breadcrumb-item>
          <ng-container *ngFor="let item of content.breadcrumb | async; last as isLast">
            <nz-breadcrumb-item>
              <a [routerLink]="item?.routerlink" *ngIf="!isLast; else last">
                {{ item.name }}
              </a>
              <ng-template #last>
                {{ item.name }}
              </ng-template>
            </nz-breadcrumb-item>
          </ng-container>
        </nz-breadcrumb>
        <nz-page-header-extra>
          <ng-container *ngTemplateOutlet="content.extra | async"></ng-container>
        </nz-page-header-extra>
      </nz-page-header>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
