.main-layout {
  height: 100%;
}

.sider {
  border-right: 1px solid #dedede;
}

.sider-user {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 24px;
}

.sider-menu {
  border: none;
}

nz-header {
  background: #fff;
  border-bottom: 1px solid #dedede;
  padding: 0;
}

nz-page-header {
}

nz-content {
  padding: 15px 12px;
}
