.main-layout {
  height: 100%;
}

nz-header {
  background: #fff;
  height: auto;
  padding: 0 16px;
  line-height: 64px;
  border-bottom: 1px solid #dedede;

  .nav-left {
    float: left;
    width: 225px;
    height: 100%;
    vertical-align: middle;

    a {
      color: rgba(0, 0, 0, .85);
      font-size: 18px;
      letter-spacing: 1px;
      white-space: nowrap;
    }

    img {
      float: left;
      height: 64px;
    }
  }

  .nav-right {
    float: right;
    height: 100%;
  }
}

.sider {
  border-right: 1px solid #dedede;

  ul {
    border: none;
  }
}

nz-content {
  overflow: auto;
  padding: 15px 12px;
}
