<nz-layout class="main-layout">
  <nz-header>
    <div class="nav-left">
      <a href="#"> <img src="/assets/weplanx.png" alt="weplanx" /> WEPLANX </a>
    </div>
    <nz-space class="nav-right">
      <button
        *nzSpaceItem
        nz-button
        nzType="text"
        nz-dropdown
        [nzDropdownMenu]="translation"
        nzPlacement="bottomRight"
      >
        <i nz-icon nzType="translation"></i>
        <nz-dropdown-menu #translation>
          <ul nz-menu>
            <li nz-menu-item>
              <a>简体中文</a>
            </li>
            <li nz-menu-item>
              <a>English</a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="text"
        nz-dropdown
        [nzDropdownMenu]="center"
        nzPlacement="bottomRight"
      >
        <i nz-icon nzType="more"></i>
        <nz-dropdown-menu #center>
          <ul nz-menu>
            <li nz-menu-item>
              <a [routerLink]="['/center']">
                <i nz-icon nzType="user"></i>
                kainonly
              </a>
            </li>
            <li nz-menu-item>
              <i nz-icon nzType="logout"></i>
              退出
            </li>
          </ul>
        </nz-dropdown-menu>
      </button>
    </nz-space>
    <div class="clearfix"></div>
  </nz-header>

  <nz-layout>
    <nz-sider class="sider" nzTheme="light" nzWidth="240px">
      <ng-container *ngTemplateOutlet="content.sider"></ng-container>
    </nz-sider>

    <nz-layout>
      <nz-page-header *ngIf="title" [nzTitle]="title" [nzGhost]="false">
        <nz-breadcrumb
          *ngIf="content.breadcrumb.length !== 0"
          nz-page-header-breadcrumb
          nzSeparator=">"
        >
          <nz-breadcrumb-item>
            <a [routerLink]="['/']">
              <i nz-icon nzType="home"></i>
            </a>
          </nz-breadcrumb-item>
          <ng-container *ngFor="let item of content.breadcrumb; last as isLast">
            <nz-breadcrumb-item>
              <a [routerLink]="item?.routerlink" *ngIf="!isLast; else last">
                {{ item.name }}
              </a>
              <ng-template #last>
                {{ item.name }}
              </ng-template>
            </nz-breadcrumb-item>
          </ng-container>
        </nz-breadcrumb>
        <nz-page-header-extra>
          <ng-container *ngTemplateOutlet="content.extra"></ng-container>
        </nz-page-header-extra>
      </nz-page-header>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
