<ul *appSider nz-menu nzMode="inline">
  <li nz-menu-item nzMatchRouter nzMatchRouterExact>
    <a [routerLink]="open()">
      <i nz-icon nzType="coffee"></i>
      我的项目
    </a>
  </li>
  <li nz-menu-item nzMatchRouter nzMatchRouterExact>
    <a [routerLink]="open(['archive'])">
      <i nz-icon nzType="inbox"></i>
      已归档
    </a>
  </li>
  <li nz-menu-item nzMatchRouter nzMatchRouterExact nzDisabled>
    <a [routerLink]="open(['recycle'])">
      <i nz-icon nzType="rest"></i>
      回收站
    </a>
  </li>
  <li nz-menu-divider></li>
  <li nz-menu-group nzTitle="星标项目">
    <ul>
      <li nz-menu-item>解决方案 A</li>
      <li nz-menu-item>解决方案 B</li>
      <li nz-menu-item>解决方案 C</li>
    </ul>
  </li>
</ul>
