<ul *appSider nz-menu nzMode="inline">
  <li nz-menu-group nzTitle="运维编排">
    <ul>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open(['schedule'])">
          <i nz-icon nzType="schedule"></i>
          计划任务
        </a>
      </li>
    </ul>
  </li>
  <li nz-menu-divider></li>
  <li nz-menu-group nzTitle="消息中间件">
    <ul>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open(['im'])">
          <i nz-icon nzType="message"></i>
          即时通讯
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open(['mq'])">
          <i nz-icon nzType="gold"></i>
          消息队列
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a [routerLink]="open(['mq-robot'])">
          <i nz-icon nzType="robot"></i>
          队列触发器
        </a>
      </li>
    </ul>
  </li>
</ul>
