<app-layout-sider>
  <ul nz-menu nzMode="inline">
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/projects']">
        <i nz-icon nzType="coffee"></i>
        我的项目
      </a>
    </li>
    <li nz-menu-item>
      <a [routerLink]="['./archive']">
        <i nz-icon nzType="inbox"></i>
        已归档
      </a>
    </li>
    <li nz-menu-item>
      <a [routerLink]="['./recycle']">
        <i nz-icon nzType="rest"></i>
        回收站
      </a>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-group nzTitle="星标项目">
      <ul>
        <li nz-menu-item>解决方案 A</li>
        <li nz-menu-item>解决方案 B</li>
        <li nz-menu-item>解决方案 C</li>
      </ul>
    </li>
  </ul>
</app-layout-sider>

<ng-template #search>
  <nz-space>
    <nz-input-group
      *nzSpaceItem
      nzSearch
      nzSuffixIcon="search"
      style="width: 240px"
    >
      <input nz-input placeholder="搜索项目" />
    </nz-input-group>
    <nz-select
      *nzSpaceItem
      nzAllowClear
      nzMode="multiple"
      [ngModel]="tags"
      style="width: 260px"
    >
      <nz-option nzLabel="通用" [nzValue]="1"></nz-option>
      <nz-option nzLabel="配送" [nzValue]="2"></nz-option>
    </nz-select>
    <nz-button-group *nzSpaceItem nz-button>
      <button nz-button>
        创建时间
        <i nz-icon nzType="down"></i>
      </button>
      <button nz-button nz-dropdown nzPlacement="bottomRight">
        <i nz-icon nzType="sort-ascending"></i>
      </button>
    </nz-button-group>
  </nz-space>
</ng-template>
<ng-template #extra>
  <nz-button-group>
    <button nz-button>
      <i nz-icon nzType="sync"></i>
    </button>
    <button nz-button>
      <i nz-icon nzType="clear"></i>
    </button>
    <button nz-button nzDanger [disabled]="true">
      <i nz-icon nzType="delete"></i>
    </button>
  </nz-button-group>
</ng-template>

<nz-card [nzTitle]="search" [nzExtra]="extra">
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
    <tr>
      <th>项目名称</th>
      <th nzWidth="420px" nzRight>描述</th>
      <th nzWidth="240px" nzRight>参与人</th>
      <th nzWidth="120px" nzRight>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <nz-avatar [nzShape]="'square'" nzIcon="bulb"></nz-avatar>
        <nz-divider nzType="vertical"></nz-divider>
        {{ data.name }}
      </td>
      <td>
      </td>
      <td>
        <nz-avatar [nzSrc]="'/assets/user.jpg'"></nz-avatar>
      </td>
      <td>
        <button nz-button nzType="text">
          <i nz-icon nzType="star"></i>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="text">
          <i nz-icon nzType="ellipsis"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
