//@import "~ng-zorro-antd/ng-zorro-antd.css";
@import "~ng-zorro-antd/ng-zorro-antd.aliyun.css";

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #666;
}
